.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
node_modules
public
.cache
.vscode
.env
.env.*
!.env.example
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm