code[class*="language-"],
pre[class*="language-"] {
  color: #fff;
  background: none;
  font-family: Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #0A1A42;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #9ca3af;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b91c1c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #16a34a;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e1efff;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3B82F6;
}

.token.function,
.token.class-name {
  color: #FFEA00;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.line-numbers .line-numbers-rows {
  border-right-color: #dfe2f1;
}
.line-numbers-rows > span:before {
  color: #979db4;
}

.luiskunz-highlight {
  position: relative;
  overflow: auto;
}
.luiskunz-highlight[data-language]::before {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 2px 10px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  color: #38393D;
  background: #f9fafb;
}

.luiskunz-highlight[data-language="jsx"]::before {
  content: 'jsx';
  background: #FFEA00;
  color: #0A1A42;
}

.luiskunz-highlight[data-language="tsx"]::before {
  content: 'tsx';
  background: #FFEA00;
  color: #0A1A42;
}